body {
   /* default black background */
   background-color: #424242;
   padding: 0;
   margin: 0;
}
header nav {
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.2rem 2rem;
   box-sizing: border-box;
   box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
   border-radius: 3px;
}

header nav ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0;
}

header nav ul li {
   padding: 0 1rem;
}

header nav ul li a,
.navbar-extra a {
   text-decoration: none;
   color: #fff;
   font-size: 1.2rem;
   font-weight: 600;
   transition: color 0.25s;
   text-align: center;
   font-weight: bold;
   letter-spacing: 1px;
}

header nav ul li a:hover {
   /* default letter hover colour */
   color: #f09433;
}

.navbar-extra a::before {
   margin-left: auto;
}

.navbar-extra a::after,
button::before {
   content: "";
   width: 0%;
   height: 2px;
   background: #f09433;
   display: block;
   transition: 0.5s;
}

.navbar-extra a:hover::after,
.navbar-extra a:hover::before {
   width: 100%;
}

footer {
   display: flex;
   justify-content: center;
}

.card {
   display: flex;
   height: 70px;
   width: 350px;
}

.card svg {
   position: absolute;
   display: flex;
   width: 60%;
   height: 100%;
   font-size: 24px;
   font-weight: 700;
   opacity: 1;
   transition: opacity 0.25s;
   z-index: 2;
   padding: 0.25rem;
   cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4,
.card .social-link5 {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25%;
   color: whitesmoke;
   font-size: 24px;
   text-decoration: none;
   transition: 0.25s;
   border-radius: 50px;
}

.card svg {
   transform: scale(1);
}

.card .social-link1:hover {
   background: #f09433;
   background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
   background-color: #242c34;
   animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
   background-color: #5865f2;
   animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
   background-color: #0a66c2;
   animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
   background-color: #ff8000;
   animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
   40% {
      transform: scale(1.4);
   }

   60% {
      transform: scale(0.8);
   }

   80% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}
