body {
   /* default black background */
   background-color: #424242;
   padding: 0;
   margin: 0;
}

header nav {
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.2rem 2rem;
   box-sizing: border-box;
   box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
   border-radius: 3px;
   margin-bottom: 2.5rem;
}

header nav ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0;
}

header nav ul li {
   padding: 0 1rem;
}

header nav ul li a,
.default-button a {
   text-decoration: none;
   color: #fff;
   font-size: 1.2rem;
   font-weight: 600;
   transition: color 0.25s;
   text-align: center;
   font-weight: bold;
   letter-spacing: 1px;
}

header nav ul li a:hover {
   /* default letter hover colour */
   color: #f09433;
}

.default-button a::before {
   margin-left: auto;
}

.default-button a::after,
button::before {
   content: "";
   width: 0%;
   height: 2px;
   background: #f09433;
   display: block;
   transition: 0.5s;
}

.default-button a:hover::after,
.default-button a:hover::before {
   width: 100%;
}

/* Add deadline Card */

.login-box {
   /* position: absolute;
   top: 50%;
   left: 50%; */
   width: 400px;
   padding: 40px;
   margin: 1.2rem auto;
   /* transform: translate(-50%, -55%); */
   background: rgba(0, 0, 0, 0.9);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
}

.login-box p:first-child {
   margin: 0 0 2rem;
   padding: 0;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   letter-spacing: 1px;
}

.login-box .user-box {
   position: relative;
}

.login-box .user-box input,
.date-box input {
   width: 100%;
   padding: 10px 0;
   font-size: 1rem;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 1.2rem;
   color: #fff;
   pointer-events: none;
   transition: 0.3s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
   top: -20px;
   left: 0;
   color: #fff;
   font-size: 12px;
}

.date-box input {
   font-size: 1rem;
}

.date-box input::-webkit-calendar-picker-indicator {
   filter: invert(1); /* Inverts the color of the icon */
   font-size: 1.5rem;
}

.date-box input::-webkit-calendar-picker-indicator:hover {
   cursor: pointer;
}

.login-box form a {
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   font-weight: bold;
   color: #fff;
   font-size: 1rem;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.3s;
   margin-top: 2rem;
   letter-spacing: 3px;
}

.login-box a:hover {
   background: #fff;
   color: #272727;
   border-radius: 5px;
}

.login-box a span {
   position: absolute;
   display: block;
}

.login-box a span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
}

.login-box p:last-child {
   color: #aaa;
   font-size: 1rem;
}

.login-box a.a2 {
   color: #fff;
   text-decoration: none;
}

.login-box a.a2:hover {
   background: transparent;
   color: #aaa;
   border-radius: 5px;
}

/* Footer styles */

footer {
   display: flex;
   justify-content: center;
}

.card {
   display: flex;
   height: 70px;
   width: 350px;
}

.card svg {
   position: absolute;
   display: flex;
   width: 60%;
   height: 100%;
   font-size: 24px;
   font-weight: 700;
   opacity: 1;
   transition: opacity 0.25s;
   z-index: 2;
   padding: 0.25rem;
   cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4,
.card .social-link5 {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25%;
   color: whitesmoke;
   font-size: 24px;
   text-decoration: none;
   transition: 0.25s;
   border-radius: 50px;
}

.card svg {
   transform: scale(1);
}

.card .social-link1:hover {
   background: #f09433;
   background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
   background-color: #242c34;
   animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
   background-color: #5865f2;
   animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
   background-color: #0a66c2;
   animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
   background-color: #ff8000;
   animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
   40% {
      transform: scale(1.4);
   }

   60% {
      transform: scale(0.8);
   }

   80% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}
