/* drop donw styles */

header nav section,
aside {
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.2rem 2rem;
   box-sizing: border-box;
   box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
   border-radius: 3px;
   margin-bottom: 2.5rem;
}

header nav ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0;
}

header nav ul li {
   padding: 0 1rem;
}

header nav ul li a,
.default-button a,
aside ul a {
   text-decoration: none;
   color: #fff;
   font-size: 1.2rem;
   font-weight: 600;
   transition: color 0.25s;
   text-align: center;
   font-weight: bold;
   letter-spacing: 1px;
}

header nav ul li a:hover {
   /* default letter hover colour */
   color: #f09433;
}

aside a:hover {
   color: #f09433;
}

.dropdown {
   display: none;
}

.dropdown-content {
   display: none;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
   background-color: #272727;
   display: block;
   padding: 12px 16px;
   text-decoration: none;
}
.default-button a::before {
   margin-left: auto;
}

.default-button a::after,
button::before {
   content: "";
   width: 0%;
   height: 2px;
   background: #f09433;
   display: block;
   transition: 0.5s;
}

.default-button a:hover::after,
.default-button a:hover::before {
   width: 100%;
}

/* Main */

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* Add deadline Card */

.login-box {
   /* position: absolute;
   top: 50%;
   left: 50%; */
   width: 400px;
   padding: 40px;
   margin: 1.2rem auto;
   /* transform: translate(-50%, -55%); */
   background: rgba(0, 0, 0, 0.9);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
}

.login-box p:first-child {
   margin: 0 0 2rem;
   padding: 0;
   color: #fff;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   letter-spacing: 1px;
}

.login-box .user-box {
   position: relative;
}

.login-box .user-box input {
   width: 100%;
   padding: 10px 0;
   font-size: 1rem;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 1.2rem;
   color: #fff;
   pointer-events: none;
   transition: 0.3s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
   top: -20px;
   left: 0;
   color: #fff;
   font-size: 12px;
}

.login-box form a {
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   font-weight: bold;
   color: #fff;
   font-size: 1rem;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: 0.3s;
   margin-top: 2rem;
   letter-spacing: 3px;
}

.login-box a:hover {
   background: #fff;
   color: #272727;
   border-radius: 5px;
}

.login-box a span {
   position: absolute;
   display: block;
}

.login-box a span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
}

.login-box p:last-child {
   color: #aaa;
   font-size: 1rem;
}

.login-box a.a2 {
   color: #fff;
   text-decoration: none;
}

.login-box a.a2:hover {
   background: transparent;
   color: #aaa;
   border-radius: 5px;
}

/* mid rise responsive */

@media screen and (min-width: 37.5rem) and (max-width: 70rem) {
   main {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 51.875rem) {
   main {
      grid-template-columns: repeat(1, 1fr);
   }
   .dropdown {
      box-sizing: border-box;
      margin: 0 auto;
      display: block;
      width: auto;
   }
   aside ul {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      padding: 0;
   }
   aside ul li {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
   }
   aside ul li a {
      font-size: 1.5rem;
   }
   header nav section {
      display: none;
   }
}
