.btn {
   height: 4rem;
   margin: 0.5rem 0;
   background: black;
   color: white;
   border: none;
   border-radius: 0.625em;
   font-size: 1.2rem;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   z-index: 1;
   overflow: hidden;
}

button:hover {
   color: black;
}

button:after {
   content: "";
   background: white;
   position: absolute;
   z-index: -1;
   left: -20%;
   right: -20%;
   top: 0;
   bottom: 0;
   transform: skewX(-45deg) scale(0, 1);
   transition: all 0.3s;
}

button:hover:after {
   transform: skewX(-45deg) scale(1, 1);
   -webkit-transition: all 0.5s;
   transition: all 0.3s;
}
