/* global font */

body {
   font-family: "Inconsolata", monospace;
}

a {
   font-family: "Inconsolata", monospace;
}

/* button group */

.user-box {
   display: flex;
}

/* typical button */

.btn {
   height: 4rem;
   margin: 0.5rem 0;
   background: black;
   color: white;
   border: none;
   border-radius: 0.625em;
   font-size: 1.2rem;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   z-index: 1;
   overflow: hidden;
   transition: all 0.5s;
}

button:hover {
   color: #f09433;
}
