<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="/styles/shared-css.css" />
      <link rel="stylesheet" href="/styles/deadline-page.css   " />
      <link rel="stylesheet" href="/styles/about.css   " />
      <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
      <title>500 Server Error</title>
   </head>
   <body>
      <main>
         <h1>Server Error, please try again or refresh the site.</h1>
      </main>
   </body>
</html>
