<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="/styles/shared-css.css" />
      <link rel="stylesheet" href="/styles/login-and-register.css   " />
      <link rel="stylesheet" href="/styles/about.css   " />
      <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
      <title>About Deadline-Duo</title>
   </head>
   <body>
      <form action="/deadline" method="get">
         <button class="btn">Back</button>
      </form>
      <main>
         <h1>Hello!</h1>
         <h2>
            Deadline duo is a simple web application designed for remembering deadlines
            easier.
         </h2>
         <h2>
            Its main feature is the alert system on the cards with colours, red being
            you're closer to your deadlines and orange means you have less than a week
            until the deadline.
         </h2>
         <h2>
            Other sections include a task section with a priority setting and a question
            page with a hide/unhide feature for storing question and answer cards.
         </h2>
         <h3>
            The app is backend heavy , therefore security measures like sessions,
            authentication and various security feature has been added. Hence if you
            receive a server error please relaod the page.
         </h3>
      </main>
   </body>
</html>
