.two-days {
   width: 400px;
   padding: 40px;
   margin: 1.2rem auto;
   background: rgba(93, 29, 29, 0.9);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(93, 29, 29, 0.9);
   border-radius: 10px;
}

.seven-days {
   width: 400px;
   padding: 40px;
   margin: 1.2rem auto;
   background: rgba(193, 95, 21, 0.9);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(193, 95, 21, 0.9);
   border-radius: 10px;
}

.date-box input {
   font-size: 1rem;
   padding: 0.3rem 0;
}

.date-box input::-webkit-calendar-picker-indicator {
   filter: invert(1);
   font-size: 1.5rem;
}

.date-box input::-webkit-calendar-picker-indicator:hover {
   cursor: pointer;
}
.date-box label {
   top: -1.8rem;
   left: 0;
   color: #fff;
   font-size: 1rem;
}

@media (min-width: 119rem) {
   main {
      grid-template-columns: repeat(4, 1fr);
   }
}

/* mid rise responsive */

@media screen and (min-width: 37.5rem) and (max-width: 70rem) {
   main {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 51.875rem) {
   main {
      grid-template-columns: repeat(1, 1fr);
   }
}
