.date-box input {
   font-size: 1rem;
   padding: 0.3rem 0;
}

.date-box input::-webkit-calendar-picker-indicator {
   filter: invert(1);
   font-size: 1.5rem;
}

.date-box input::-webkit-calendar-picker-indicator:hover {
   cursor: pointer;
}
.date-box label {
   top: -1.8rem;
   left: 0;
   color: #fff;
   font-size: 1rem;
}

@media (min-width: 119rem) {
   main {
      grid-template-columns: repeat(4, 1fr);
   }
}

/* mid rise responsive */

@media screen and (min-width: 37.5rem) and (max-width: 70rem) {
   main {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 51.875rem) {
   main {
      grid-template-columns: repeat(1, 1fr);
   }
}
