main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-box {
   width: 60rem;
}

.login-box .user-box textarea {
   font-size: 1.3rem;
}

textarea {
   resize: vertical;
}

textarea::-webkit-scrollbar {
   width: 15px;
}
textarea::-webkit-scrollbar-thumb {
   background-color: #424242;
   border-radius: 2px;
   border: 2px solid #d5d5d5;
}

textarea::-webkit-scrollbar-track {
   background-color: #161414;
}

/* answer card */

.hide {
   display: none;
}

/* mid rise responsive */

@media screen and (min-width: 37.5rem) and (max-width: 70rem) {
   .login-box,
   .card {
      width: 45rem;
   }
}

@media screen and (max-width: 51.875rem) {
   .login-box,
   .card {
      width: 30rem;
   }
}
